<style>
/* Style pour centrer le conteneur div */
.container-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Hauteur à 100 % de la vue */
  position: relative; /* Ajoutez ceci pour positionner le pseudo-élément */
}

/* Pseudo-élément pour l'arrière-plan */
.container-center::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./assets/logos/Foot.avif');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 0.5;
  filter: alpha(opacity=10%);
  z-index: -1; /* Assurez-vous que le pseudo-élément est en arrière-plan */
}

/* Style pour le bouton de navigation */
.nav-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
  max-width: 200px; /* Largeur maximale du bouton */
  margin: 0 auto; /* Centre horizontalement */
  display: block; /* Afficher en tant que bloc pour la marge automatique */
}

.nav-button:hover {
  background-color: #0056b3;
}

/* Style pour masquer le lien après avoir été cliqué */
.nav-button.hidden {
  display: none;
}

  </style>
  
  <div class="container-center">
    <nav>
      <ul>
        <li *ngIf="showNavLink"><a routerLink="/equipe-nfl" (click)="onNavLinkClick(); masquerAjouterEquipe()" class="nav-button">Liste des Équipes NFL</a></li>
      </ul>
    </nav>
    <router-outlet></router-outlet>

    <button type="button" (click)="ajouterEquipeActive = !ajouterEquipeActive" class="bouton-rouge">Ajouter une Équipe</button>
   
    <div *ngIf="ajouterEquipeActive">
        <h2>Ajouter une équipe</h2>
        <form (submit)="ajouterEquipe()">
          <div>
            <label for="nom">Nom de l'équipe :</label>
            <input type="text" id="nom" [(ngModel)]="equipeToAdd.nom" name="nom" required>
          </div>
          <div>
            <label for="ville">Ville de l'équipe :</label>
            <input type="text" id="ville" [(ngModel)]="equipeToAdd.ville" name="ville" required>
          </div>
          <div>
            <label for="abreviation">Abréviation de l'équipe :</label>
            <input type="text" id="abreviation" [(ngModel)]="equipeToAdd.abreviation" name="abreviation" required>
          </div>
          <div>
            <button type="submit">Ajouter l'équipe</button>
          </div>
        </form>
      </div>
      
    
  </div>
  
  