
.scroll-box {
  max-height: 400px; 
  overflow-y: auto; 
  width: 100%;
}

.scroll-box table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px; 
  background-color: rgba(255, 255, 255, 0.8); 
}

.scroll-box table, .scroll-box th, .scroll-box td {
  border: 1px solid #ddd;
  color: #070048; 
  background-color: #fff;
}

.scroll-box th, .scroll-box td {
  padding: 8px;
  text-align: left;
}

.scroll-box th {
  background-color: #f2f2f2;
}


.scroll-box th:nth-child(1),
.scroll-box th:nth-child(2),
.scroll-box th:nth-child(3),
.scroll-box th:nth-child(4),
.scroll-box th:nth-child(5),
.scroll-box th:nth-child(6),
.scroll-box th:nth-child(7) {
  background-color: #ff0000; 
  color: #fff; 
}
