<div class="container">
<div class="scroll-box">
    <thead>
      <tr>
        <th>Numéro</th>
        <th>Position</th>
        <th>Nom</th>
        <th>École</th>
        <th>Âge</th>
        <th>Taille</th>
        <th>Poids</th>
        <th>Matchs Joués</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let joueur of joueurs.body.roster">
        <td>{{ joueur.jerseyNum }}</td>
        <td>{{ joueur.pos }}</td>
        <td>{{ joueur.espnName }}</td>
        <td>{{ joueur.school }}</td>
        <td>{{ joueur.age }}</td>
        <td>{{ joueur.height }}</td>
        <td>{{ joueur.weight }}</td>
        <td>{{ joueur.stats.gamesPlayed }}</td>
      </tr>
    </tbody>
</div>
</div>

  