/* Style du tableau */
.scroll-box {
    max-height: 400px; /* Hauteur maximale de la boîte de défilement */
    overflow-y: auto; /* Activer la barre de défilement verticale si nécessaire */
    width: 100%;
  }
  
  .scroll-box table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px; /* Espace en bas du tableau */
  }
  
  .scroll-box table, .scroll-box th, .scroll-box td {
    border: 1px solid #ddd;
    color: #000; /* Couleur du texte par défaut (noir) */
  }
  
  .scroll-box th, .scroll-box td {
    padding: 8px;
    text-align: left;
  }
  
  .scroll-box th {
    background-color: #f2f2f2; /* Couleur de fond par défaut (gris) */
  }
  
  /* Style pour les en-têtes de colonnes spécifiques */
  .scroll-box th:nth-child(1),
  .scroll-box th:nth-child(2),
  .scroll-box th:nth-child(3),
  .scroll-box th:nth-child(4),
  .scroll-box th:nth-child(5),
  .scroll-box th:nth-child(6),
  .scroll-box th:nth-child(7) {
    background-color: #ff0000; /* Couleur de fond pour les 6 premières colonnes (rouge) */
    color: #fff; /* Couleur du texte pour les 6 premières colonnes (blanc) */
  }
  